*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    background-color: rgb(211, 211, 196);
    padding: 5px 10px;
    justify-content: space-between;
}

.left {
    width: 34%;
     height: 1200px; 
    /* border: 2px solid black; */
    box-shadow: 10px 10px 20px -1px rgba(168, 159, 159, 0.63);
    -webkit-box-shadow: 10px 10px 20px -1px rgba(137, 114, 114, 0.63);
    -moz-box-shadow: 10px 10px 20px -1px rgba(150, 136, 136, 0.63);
}

.right{
    width: 64%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.education{
    width: 100%;
    height: 480px;
    padding:20px ;
    display: flex;
    flex-direction: column;
    gap:30px;
    box-shadow: 10px 10px 20px -1px rgba(83, 82, 82, 0.63);
    -webkit-box-shadow: 10px 10px 20px -1px rgba(82, 78, 78, 0.63);
    -moz-box-shadow: 10px 10px 20px -1px rgba(78, 65, 65, 0.63);
}

.experience{
    width: 100%;
    height: 480px;
    padding:20px ;
    display: flex;
    flex-direction: column;
    gap:20px;
    box-shadow: 10px 10px 20px -1px rgba(113, 105, 105, 0.63);
    -webkit-box-shadow: 10px 10px 20px -1px rgba(101, 97, 97, 0.63);
    -moz-box-shadow: 10px 10px 20px -1px rgba(121, 112, 112, 0.63);
}

.photo{
    width: 100%;
    height: 500px;
    position: relative;
    box-shadow: 10px 10px 20px -1px rgba(83, 82, 82, 0.63);
    -webkit-box-shadow: 10px 10px 20px -1px rgba(82, 78, 78, 0.63);
    -moz-box-shadow: 10px 10px 20px -1px rgba(78, 65, 65, 0.63);
}

.photo img{
    position: absolute;
    width:100% ;
    height:100% ;
}
.info{
    width: 100%;
    height: 500px;
    padding:10px ;
    display: flex;
    flex-direction: column;
    gap:10px ;
}
.ph1{
    width:90% ;
    height:20px ;
    border: solid 2x black ;
    background-color: aliceblue;
    border-radius: 50px;
}

.ph2{
    width:85% ;
    height:100% ;
    background-color: rgb(8, 34, 8);
    border-radius: 50px;
    text-align: center;

}
.ph1a{
    width:90% ;
    height:20px ;
    border: solid 2x black ;
    background-color: aliceblue;
    border-radius: 50px;
}

.ph2b{
    width:75% ;
    height:100% ;
    background-color: rgb(8, 34, 8);
    border-radius: 50px;
    text-align: center;

}
.il1{
    width:90% ;
    height:20px ;
    border: solid 2x black ;
    background-color: aliceblue;
    border-radius: 50px;
}

.il2{
    width:67% ;
    height:100% ;
    background-color: rgb(8, 34, 8);
    border-radius: 50px;
    text-align: center;

}
.me1{
    width:90% ;
    height:20px ;
    border: solid 2x black ;
    background-color: aliceblue;
    border-radius: 50px;
}

.me2{
    width:50% ;
    height:100% ;
    background-color: rgb(8, 34, 8);
    border-radius: 50px;
    text-align: center;

}
.en1{
    width:90% ;
    height:20px ;
    border: solid 2x black ;
    background-color: aliceblue;
    border-radius: 50px;
}

.en2{
    width:100%;
    height:100% ;
    background-color: rgb(8, 34, 8);
    border-radius: 50px;
    text-align: center;
}
.sp1{
    width:90% ;
    height:20px ;
    border: solid 2x black ;
    background-color: aliceblue;
    border-radius: 50px;
}

.sp2{
    width:50% ;
    height:100% ;
    background-color: rgb(8, 34, 8);
    border-radius: 50px;
    text-align: center;
}
.ge1{
    width:90% ;
    height:20px ;
    border: solid 2x black ;
    background-color: aliceblue;
}

.ge2{
    width:30% ;
    height:100% ;
    background-color: rgb(8, 34, 8);
    border-radius: 50px;
    text-align: center;
}
footer{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(30, 107, 82);
}
@media only screen and (max-width: 700px) {
    .container{
        flex-direction: column;
    }

    .container .left{
        width: 100%;
    }


    .container .right {
        width: 100%;
    }
}